<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{home.mainPage}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron" sec:authorize="isAuthenticated()">
        <div class="container">
            <h1>
                <span th:text="#{home.welcome}"></span>
                <strong th:text="${#authentication.principal.user.name}"></strong>
            </h1>

            <h2 th:text="#{home.greetings}"></h2>
        </div>
    </div>

</div>
</body>
</html>